<div class="card">
  <h1>Address Form</h1>

  <div class="triangle-down"></div>

  <form class="form" #addressForm="ngForm" (ngSubmit)="onSubmit(addressForm)">

    <!-- City Input -->
    <div class="form-field" [ngClass]="{'error': city.invalid && city.touched}">
      <label>City</label>
      <input type="text" placeholder="New York" required name="city" ngModel
        #city="ngModel">
      <span class="error-element"
        [ngClass]="{'error': city.invalid && city.touched}">City is required</span>
    </div>

    <div class="spacer"></div>

    <!-- State Input -->
    <div class="form-field"
      [ngClass]="{'error': state.invalid && state.touched}">
      <label>State</label>
      <input type="text" placeholder="New York" required name="state" ngModel
        #state="ngModel">
      <span class="error-element"
        [ngClass]="{'error': state.invalid && state.touched}">State is required</span>
    </div>

    <div class="spacer"></div>

    <!-- Country Input -->
    <div class="form-field"
      [ngClass]="{'error': country.invalid && country.touched}">
      <label>Country</label>
      <input type="text" placeholder="United States" required name="country"
        ngModel #country="ngModel">
      <span class="error-element"
        [ngClass]="{'error': country.invalid && country.touched}">Country is
        required</span>
    </div>

    <div class="spacer"></div>

    <!-- Street Input -->
    <div class="form-field"
      [ngClass]="{'error': street.invalid && street.touched}">
      <label>Street</label>
      <input type="text" placeholder="5th Avenue" required name="street" ngModel
        #street="ngModel">
      <span class="error-element"
        [ngClass]="{'error': street.invalid && street.touched}">Street is
        required</span>
    </div>

    <div class="spacer"></div>

    <!-- Number Input -->
    <div class="form-field"
      [ngClass]="{'error': number.invalid && number.touched}">
      <label>Number</label>
      <input type="text" placeholder="123" required name="number" ngModel
        #number="ngModel">
      <span class="error-element"
        [ngClass]="{'error': number.invalid && number.touched}">Number is
        required</span>
    </div>

    <div class="spacer"></div>

    <app-raised-button text="Submit" type="submit"></app-raised-button>
  </form>
</div>
