.form {
  display: flex;
  padding: 2vh;
  background-color: var(--dark);
  box-sizing: border-box;
}

input {
  outline: none;
  border: none;
  background-color: var(--dark);
  padding: 15px 25px;
  border: 1px solid var(--mint);
  border-radius: 20px;
  color: var(--mint);
  width: 100%;
}

.form-field {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1vh;
  color: var(--mint);
  transition: all 0.5s;
}

.form-field.error {
  color: var(--warn) !important;
  border-color: var(--warn) !important;
}

.form-field.error input {
  border-color: var(--warn) !important;
  color: var(--warn) !important;
}
