.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}

main {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  box-sizing: border-box;
  padding: 3vh;
}

.container {
  background-color: white;
}
