/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  user-select: none;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  background-color: var(--mint);
}

:root {
  --dark: #262523;
  --medium: #81817d;
  --light: #b3b2ae;
  --mint: #e3ebd2;
  --transparent-mint: #e3ebd285;
  --warn: #ff5301;
}
