<div class="card">
  <h1>Register</h1>

  <div class="triangle-down"></div>

  <form class="form" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">

    <!-- First Name Input -->
    <div class="form-field"
      [ngClass]="{'error': firstName.invalid && firstName.touched}">
      <label>First Name</label>
      <input type="text" placeholder="John" required name="first_name" ngModel
        #firstName="ngModel">
      <span class="error-element"
        [ngClass]="{'error': firstName.invalid && firstName.touched}">First Name
        is required</span>
    </div>

    <div class="spacer"></div>

    <!-- Last Name Input -->
    <div class="form-field"
      [ngClass]="{'error': lastName.invalid && lastName.touched}">
      <label>Last Name</label>
      <input type="text" placeholder="Doe" required name="last_name" ngModel
        #lastName="ngModel">
      <span class="error-element"
        [ngClass]="{'error': lastName.invalid && lastName.touched}">Last Name is
        required</span>
    </div>

    <div class="spacer"></div>

    <!-- Email Input -->
    <div class="form-field"
      [ngClass]="{'error': email.invalid && email.touched}">
      <label>Email</label>
      <input type="email" placeholder="user@example.com" required email
        name="email" ngModel #email="ngModel">
      <span class="error-element"
        [ngClass]="{'error': email.invalid && email.touched}">Please enter a
        valid email</span>
    </div>

    <div class="spacer"></div>

    <!-- Password Input -->
    <div class="form-field"
      [ngClass]="{'error': password.invalid && password.touched}">
      <label>Password</label>
      <input type="password" placeholder="******" required name="password"
        ngModel #password="ngModel">
      <span class="error-element"
        [ngClass]="{'error': password.invalid && password.touched}">Password is
        required</span>
    </div>

    <div class="spacer"></div>

    <app-raised-button text="Register" type="submit"></app-raised-button>
  </form>
</div>
