footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--dark);
  padding: 3vh 0;
  color: var(--mint);
}


ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

a {
  color: var(--mint);
}
