.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.321);
  color: black;
  gap: 1vw;
}

.spacer {
  flex: 1;
}
