<mat-toolbar color="primary">
  <span class="title" routerLink="/"> \\\ {{storeName}} </span>

  <!-- <app-autocomplete></app-autocomplete> -->
  <span class="spacer"></span>

  <span class="elements"
    style="display: flex; flex: 1; align-items: center; box-sizing: border-box; padding: 2vw; gap: 1vw; "
    *ngIf="!(isHandset$ | async)">

    <app-menu></app-menu>

    <span class="spacer"></span>

    <app-stroked-icon-button [icon]="'shopping_cart'" routerLink="/cart"
      [text]="(cartCount | async).toString()"></app-stroked-icon-button>

    <app-stroked-button *ngIf="!( isLoggedIn$ | async)" routerLink="/auth/login"
      [text]="'Login'"></app-stroked-button>
    <app-raised-button *ngIf="!( isLoggedIn$ | async)"
      routerLink="/auth/register" [text]="'Register'"></app-raised-button>

    <app-stroked-icon-button [matMenuTriggerFor]="userMenu"
      *ngIf="( isLoggedIn$ | async)"
      [icon]="'account_circle'" [text]="(user$|async).first_name"></app-stroked-icon-button>

  </span>

  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #userMenu="matMenu">
  <button routerLink="/auth/profile" mat-menu-item>
    <button mat-button>Profile</button>
  </button>
  <button mat-menu-item>
    <button mat-button>Orders</button>
  </button>
  <button mat-menu-item>
    <button mat-raised-button color="warn" (click)="logout()">Logout</button>
  </button>
</mat-menu>

<mat-menu #productMenu="matMenu">

  <button mat-menu-item routerLink="/items">All</button>
</mat-menu>
