<mat-toolbar color="primary">
  <button mat-button routerLink="/"><h1>{{storeName}}</h1></button>

  <span class="spacer"></span>

  <span
    style="display: flex; flex: 1; align-items: center; box-sizing: border-box; padding: 2vw; gap: 1vw;"
    *ngIf="!(isHandset$ | async)">
    <button mat-button [matMenuTriggerFor]="productMenu"><h3>Products</h3></button>

    <span class="spacer"></span>


    <button routerLink="/cart" mat-fab extended color="primary">
      <mat-icon>shopping_cart</mat-icon>
      {{cartCount | async}}
    </button>

    <button mat-button *ngIf="!( isLoggedIn$ | async)" routerLink="/auth/login"><h3>Login</h3></button>
    <button mat-raised-button color="primary" *ngIf="!( isLoggedIn$ | async)"
      routerLink="/auth/register"> <h3>Register</h3>
    </button>

    <button mat-fab extended *ngIf="( isLoggedIn$ | async)" color='primary'
      [matMenuTriggerFor]="userMenu"><mat-icon>account_circle</mat-icon>
      {{(user$|async).first_name}}
    </button>

  </span>

  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #userMenu="matMenu">
  <button routerLink="/auth/profile" mat-menu-item>
    <button mat-button>Profile</button>
  </button>
  <button mat-menu-item>
    <button mat-button>Orders</button>
  </button>
  <button mat-menu-item>
    <button mat-raised-button color="warn" (click)="logout()">Logout</button>
  </button>
</mat-menu>

<mat-menu #productMenu="matMenu">

  <button mat-menu-item routerLink="/items">All</button>
</mat-menu>
