.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  /* background-color: inherit; */
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.321);
  /* color: red; */
}

.spacer {
  flex: 1;
}
