<div class="card">
  <h1>Login</h1>

  <div class="triangle-down"></div>

  <form class="form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

    <div class="form-field" [ngClass]="{'error':email.invalid && email.touched}">
      <label>Email</label>
      <input type="email" placeholder="User@example.com" required email
        type="email"
        name="email" ngModel
        #email="ngModel">
      <span class="error-element"
        [ngClass]="{'error':email.invalid && email.touched}">Email
        is required</span>
    </div>

    <div class="spacer"></div>

    <div class="form-field"
      [ngClass]="{'error':password.invalid && password.touched}">
      <label>Password</label>
      <input type="password" required
        name="password" ngModel
        #password="ngModel">
      <span class="error-element"
        [ngClass]="{'error':password.invalid && password.touched}">Email
        is required</span>
    </div>

    <div class="spacer"></div>

    <app-raised-button text="Login" type="submit"></app-raised-button>
  </form>

</div>
