<h1 appInfiniteScrollingText>/// Cart</h1>

<div class="grid">
  <ng-container *ngFor="let i of (cartItems$ | async)">

    <div class="card">

      <div class="triangle-down"></div>
      <div class="triangle-up"></div>

      <img
        [src]="craneImage" />
      <div class="about">
        <span>{{i.name}}</span>
        <span>{{i.description}}</span>
        <span>Disponibil online. Livrare in maximum 48 ore!</span>
        <span>{{i.price}} ron/bucata</span>
      </div>

      <div class="actions">
        <div class="row">
          <div class="modify" (click)="addOneToCart(i)">+</div>
          <div class="modify" (click)="decrementOneFromCart(i.itemID)">-</div>
        </div>
        <div class="spacer"></div>
        <span class="quantity">{{i.quantity}}</span>
        <span>Produse in cos</span>
        <button class="remove" style="overflow: hidden;"
          (click)="removeFromCart(i.itemID)">
          <div>Eliminati</div>
        </button>
        <div class="spacer"></div>
        <app-raised-button [text]="'Vizitati produsul'"
          [routerLink]="['/items',i.itemID]"></app-raised-button>
      </div>

    </div>

  </ng-container>
</div>

<button routerLink="/order/new">
  <div class appInfiniteScrollingText [activateOnHover]="true">Mergeti la adresa
    de
    livrare</div>
</button>
