<div class="matrix-grid">
  <div class="cell" [ngClass]="{ 'active': activeIndex === 0 }"
    style="grid-column-start: 1; grid-row-start: 1;">
    <span>1000 +</span>
    <span>Produse</span>
  </div>
  <div class="cell" [ngClass]="{ 'active': activeIndex === 1 } "
    style="grid-column-start: 2; grid-row-start: 2;">
    <span>30+</span>
    <span>Angajati</span>
  </div>
  <div class="cell" [ngClass]="{ 'active': activeIndex === 2 }"
    style="grid-column-start: 3; grid-row-start: 1;">
    <span>10+</span>
    <span>Ani de experienta</span>
  </div>
  <div class="cell" [ngClass]="{ 'active': activeIndex === 3 }"
    style="grid-column-start: 3; grid-row-start: 3;">
  <span>10000+</span>
  <span>Clienti multumiti</span>
  </div>
</div>
